.item_card {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.img_detail {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 10px;
    width: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

.text {
    margin-top: 10px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    padding: 0px;
}

.text_2 {
    align-items: center;
    text-align: center;
}
