.item_card {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.img_detail {
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.img_product {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 10px;
    width: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

.text {
    margin-top: 10px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    padding: 0px;
}

.text_2 {
    align-items: center;
    text-align: center;
}

.link_tostify {
    text-decoration: none;
    color:rgb(120, 120, 120)
}

.description {
    margin-top: 30px;
}

/* inicio de media querie para tableta */
@media screen and (max-width: 1024px) {
    .img_detail {
        padding: 0px;
        width: 80%;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .img_product {
        margin-top: 20px;
        margin-left: 0px;
        padding: 0px;
        width: 90%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .text_description {
        margin: 0 auto;
        width: 60%;
        text-align: justify;
        font-size: 20px;
        padding: 10px;
        padding-right: 30px;
    }
}

/* inicio de media querie para mobile */
@media screen and (max-width: 600px) {
    .item_card {
        flex-direction: column;
        max-width: 600px;
    }

    .img_detail {
        margin-left: 20px;
        padding: 10px;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .text {
        margin-top: 10px;
        width: 80%;
        text-align: justify;
        font-size: 20px;
        padding: 0px;
    }

    .text_2 {
        align-items: center;
        text-align: center;
        margin-right: 10px;
    }
}
