.div_principal {
    display: flex;
}

.number {
    color:#fff;
    position: absolute;
    background-color: #ff0048;
    right: 65px;
    top: 5px;
    width: 26px;
    border-radius: 50%;
    font-size: 22px;
}