.div_principal {
    display: flex;
}

.number {
    color:#fff;
    position: absolute;
    background-color: #ff0048;
    right: 62px;
    top: 2px;
    width: 26px;
    border-radius: 50%;
    font-size: 22px;
}

/* inicio de media querie para tableta */
@media screen and (max-width: 1024px) {
    .number {
        right: 18px;
        top: 2px;
        width: 26px;
        border-radius: 50%;
        font-size: 22px;
    }
}