.contenedor_cartas {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
}

.card_cart {
    display: flex;
    width: 90%;
    border-radius: 10px;
    border:rgb(101, 38, 55) solid 1.4px;
    background-color: rgba(255, 255, 255, 0.653);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    align-items: justify;
    text-align: justify;
}

.text_card {
    color:rgb(101, 38, 55);
    text-decoration: none;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    padding: 0px;
    transition: all 0.5s;
    padding-bottom: 15px;
}

.text_card:hover {
    color: #ff75ba;
}

.text2 {
    display: inline-block;
    padding-right: 10px;
}

.button_cart {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 235, 235);
    border:#862451 2px solid;
    background-color: #862451;
    border-radius: 5px;
    padding: 6px;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.button_cart:hover {
    background-color: #ff75ba;
    border: #ff75ba 2px solid;
    color: #ffffff;
    letter-spacing: 2px;
}

.button_compra {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 235, 235);
    border:#862451 2px solid;
    background-color: #862451;
    border-radius: 5px;
    padding: 6px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.button_compra:hover {
    background-color: #ff75ba;
    border: #ff75ba 2px solid;
    color: #ffffff;
    letter-spacing: 2px;
}

.button_order {
    text-decoration: none;
    color: rgb(255, 235, 235);
}

.button_order:hover {
    color: #ffffff;
    letter-spacing: 2px;
}

.greeting {
    font-family: 'Gentium Plus', serif;
    font-size: 40px;
}

.greeting_container {
    margin: 0 auto;
    margin-top: 150px;
}

.greeting_noItem {
    font-family: 'Gentium Plus', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    margin-top: 8px;
    margin-right: 20px;
    letter-spacing: 2px;
    color:rgb(101, 38, 55);
    transition: all 0.5s;
}

.greeting_noItem:hover {
    color: #ff75ba;
}

@media screen and (max-width: 1024px) {
    .button_cart {
        width: 150px;
        margin-top: 70px;
    }
}

/* inicio de media querie para mobile */
@media screen and (max-width: 600px) {
    .card_cart {
        flex-direction: column;
        width: 100%;
    }

    .text_card {
        color:rgb(101, 38, 55);
        text-decoration: none;
        width: 100%;
        text-align: justify;
        font-size: 20px;
        transition: all 0.5s;
        padding-bottom: 0px;
    }

    .button_cart {
        width: 90%;
        margin-top: 40px;
    }

    .buttons_container {
        margin: 0 auto;
        margin-left: 20px;
        margin-top: 20px;
    }
}
