.header {
    background-color: #ac7d88c7;
    background: linear-gradient(to right, #ffb9ac, #da5899);
    background-size: cover;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    
}

.header__contenedor {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_nav {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
}

.container_enlaces {
    display: flex;
    list-style: none;
}

.enlaces {
    margin-right: 50px;
}

.enlaces_text {
    text-decoration: none;
    color:rgb(255, 225, 238);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s;
}

.enlaces_text:hover {
    text-shadow: rgb(108, 42, 71) 0.1em 0.1em 0.2em;
    color:rgb(255, 255, 255)
}

.logo {
    font-family: 'Gentium Plus', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin-top: 8px;
    margin-right: 20px;
    letter-spacing: 2px;
    color: #fff2e5;
    transition: all 0.5s;
}

.logo:hover { 
    color: #ffffff;
}

.carrito_botones {
    margin-left: 20px;
    background: #ffafbc00;
    border: 1.5px solid #ff9dad00;
    border-radius: 20px;
    transition: all 0.5s;
}

.carrito_botones:hover {
    background: #ffafbc00;
    border: 1.5px solid #ffbdc800;
}

.iconos {
    font-size: 1.5rem;
    padding-right: 20px;
    color:rgb(255, 225, 238);
    transition: all 0.5s;
    cursor: pointer;
}

.iconos:hover {
    color:white;
}

.contenedor_opciones {
    display: flex;
}

/* inicio de media querie para tableta */
@media screen and (max-width: 1024px) {
    .logo {
        font-family: 'Gentium Plus', serif;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-top: 4px;
        margin-right: 20px;
        letter-spacing: 2px;
        color: #fff2e5;
        transition: all 0.5s;
    }
}