body {
  font-family: 'Source Sans Pro', sans-serif;
  color:rgb(101, 38, 55);
  background: rgb(255,227,218);
  background: linear-gradient(0deg, rgba(255,227,218,1) 0%, rgba(255,250,225,1) 100%);
  background-image: url(../public/images/fondo.png);
  background-attachment: fixed;
  background-size: cover;
  
}

::selection {
  background-color: #ff86a0;
  color: #ffe7f2; 
}

.loader {
  margin: 0 auto;
  margin-top: 220px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #ff00a6;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button_detalle {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 235, 235);
  border:#862451 2px solid;
  background-color: #862451;
  border-radius: 5px;
  padding: 6px;
  width: 60%;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.button_detalle:hover {
  background-color: #ff75ba;
  border: #ff75ba 2px solid;
  color: #ffffff;
  letter-spacing: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(101, 38, 55);
}

.itemdetail {
  background-color: rgba(255, 255, 255, 0.491);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
