.count {
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
    font-size: 30px;
}

.elements {
    padding: 20px;
}

.buttonsCount {
    height: 40px;
    width: 30px;
    font-size: 25px;
    font-weight: bold;
    border:#862451 2px solid;
    color:#8f265b;
    background-color: rgb(255, 212, 231);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.buttonDisabled {
    height: 40px;
    width: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #8b566f;
    border:#86586e 2px solid;
    background-color:rgba(230, 217, 217, 0.829);
    border-radius: 5px;
    transition: all 0.5s;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.buttons:hover {
    color: #ff75ba;
    border:#ff75ba 2px solid;
    background-color: rgb(255, 247, 251);
}